agm-map {
  height: 600px;
}
.map {
  margin: 6px 0;
}

#list {
  height: 600px;
  overflow: auto;
}

.secondary-content {
  cursor: pointer;
}

#preloader {
  height: 600px;
}

#content {
  display: none;
}
