<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About us</h5>
        <p class="grey-text text-lighten-4">To promote kindness to animals, to protect their health and welfare, to prevent cruelty and through education, to inspire in the community a deep respect for life so that all living creatures may live together in harmony.</p>
        <!-- <div class="row">
          <div class="col l6">
            <p class="grey-text text-lighten-4">
              The Old Chanpel<br>
              Bradford Street<br>
              Tonbridge, Kent<br>
              TN9 1AW<br>
              UK
            </p>
          </div>
          <div class="col l6">
            <p class="grey-text text-lighten-4">
              Tel: +44 (0)1732 364546<br>
              Fax: +44 (0)1732 366533<br>
              Email: info@animalaid.org.uk
            </p>
          </div
        </diblog> -->
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" [routerLink]="['/blog', 1]">Blog</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/rescue">Rescue</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/hospitals">Hospitals</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/legal">Legal</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Developed by <a href="https://github.com/sakshamgupta05" target="_blank">Saksham Gupta</a>
      <!-- <a class="grey-text text-lighten-4 right"><i class="fa fa-google-plus"></i></a>
      <a class="grey-text text-lighten-4 right"><i class="fa fa-twitter"></i></a> -->
      <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/Vanimalaid-107652299925326/" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</footer>
