$primary-color: #00695c;
$primary-color-dark: #003d33;
$primary-color-light: #439889;
$accent: #00bfa5;
$accent-dark: #008e76;
$accent-light: #5df2d6;

$secondary-color: $accent;

a {
  cursor: pointer;
}
