<section class="section">
  <div class="container">
    <div class="row">

      <div class="col s12 m8 offset-m2">
        <div class="card">
          <div class="card-content">
            <img src="assets/images/logo/teal/logo-320px.png" alt="Logo"/>
            <h3 class="center-align">Animal Aid</h3>
            <h5><strong>404</strong> - Page Not Found</h5>
            <p>The requested URL was not found on this server.</p>
            <button type="button" class="waves-effect waves-light btn" (click)="homePage()">Home</button>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
