#navbar-logo-small {
  font-family: 'PT Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  img {
    height: 24px;
  }
}

#navbar-logo-med {
  font-family: 'PT Sans', sans-serif;
  img {
    height: 24px;
  }
}

#navbar-logo-large {
  font-family: 'PT Sans', sans-serif;
  img {
      height: 51.2px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 12px;
      margin-bottom: -15.56px;
  }
}

#background {
  width: 100%;
}

.background {
  img {
    width: 100%;
  }
}

#side-logo {
  width: 70px;
  height: 100%;
}

#side-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 135%;
}
