<div class="parallax-container">
  <div class="parallax"><img src="assets/images/blog-head-bg.jpg"></div>
  <section id="home-head" class="center">
    <div class="container">
      <h1>Blog</h1>
      <p class="lead">The best thing about dogs is that you can act like something really great just happened and they'll instantly start celebrating with you. They have no idea what context is... They're just always ready to party no matter what.</p>
      <a scrollTo href="#blog" class="btn btn-primary"><i class="material-icons right">keyboard_arrow_down</i>Read More</a>
    </div>
  </section>
</div>

<section id="blog">
  <br><br><br>
</section>

<section class="section">
  <div class="container">

    <div id="preloader" class="row">
      <div class="col s12 center">
        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-teal-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="row">

      <div class="col s12 m8 offset-m2" *ngFor="let blog of blogs">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title"><strong>{{ blog.title }}</strong></span>
            <div class="subheader">{{ blog.date | date: 'MMMM d, yyyy' }}</div>
            <br>
            <p>{{ blog.short }}...</p>
          </div>
          <div class="card-action">
            <a (click)="onSelect(blog)">Read more</a>
          </div>
        </div>
      </div>

      <div class="col s12">
        <ul class="pagination center">
          <li [ngClass]="{'disabled': !((page-1)>0), 'waves-effect': (page-1)>0}"><a scrollTo href="#blog" (click)="navigateBack()"><i class="material-icons">chevron_left</i></a></li>
          <li class="waves-effect" *ngIf="(page-2)>0"><a scrollTo href="#blog" (click)="navigate(page-2)">{{ page-2 }}</a></li>
          <li class="waves-effect" *ngIf="(page-1)>0"><a scrollTo href="#blog" (click)="navigate(page-1)">{{ page-1 }}</a></li>
          <li class="active"><a>{{ page }}</a></li>
          <li class="waves-effect" *ngIf="(total-(5*(page)))>0"><a scrollTo href="#blog" (click)="navigate(page+1)">{{ page+1 }}</a></li>
          <li class="waves-effect" *ngIf="(total-(5*(page+1)))>0"><a scrollTo href="#blog" (click)="navigate(page+2)">{{ page+2 }}</a></li>
          <li [ngClass]="{'disabled': !((total-(5*(page)))>0), 'waves-effect': (total-(5*(page)))>0}"><a scrollTo href="#blog" (click)="navigateForward()"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>

    </div>

  </div>
</section>
